/* Overloads of markdown-cv stylesheet */

/* Job title increased visibility */
p.p-job-title {
  font-size: 1.3em; margin-bottom: 2em; color: #05b;
}

/* My own colors: #05B (blue like the sea) with a drop of #F80 (orange) */
h1, h2 {color: #05b;}
@media (max-width: 600px) {
  h3 {color: #05b;}
}

@media (min-width: 600px) {
  /* Experience & Formation headers as <h4> instead of <strong> */
  h4 {
    position: relative;
    left: 25%;
    width: 75%;
  }
  /* Increase space between sections */
  h2 { top: 2.6em;}
  h2 + p, h2 + dl {margin-top: 1.4em;}
}

@media (min-width: 850px) {
  /* Experience & Formation headers as <h4> instead of <strong> */
  h4 {
    width: 55%;
  }
  /* Reproduce original style of `p code` since <code> is now within an <h4> */
  h4 code {
    position: absolute;
    text-align: right;
    right: -20%;
  }
}

/* Experience & Formation headers as <h4> instead of <strong> */
@media only print and (min-width: 850px) {
  h4 {
    width: 60%;
  }
}
h4 {
  font-weight: bold;
  margin-bottom: .7em;
  color: #05b;
  margin: 1.4em 0 .7em 0;
}

/* Reproduce original style of `p code` since <code> is now within an <h4> */
@media (max-width: 849px) {
  h4 code:after { /* Reprise de `p code` */
    content: '\A';
    white-space: pre;
  }
}
p code {font-weight: bold;}

/* Bullet list for details of projects within an experience */
ul.dim {
  margin: 0 0 .7em 0 !important;
}
ul.dim li p + p {
  font-size: 90%;
  color: #777;
}

/* Coloured bullets */
li {padding-left: 1em; position: relative; text-indent: 0;}
li:before {content: "•"; color: #f80; position:absolute; top: 0; left: 0;}
@media print {li:before {color: #000;}}

/* Better readability of printed <dl> */
@media print {dt:after {content: " : ";}}

/* Links to my other online profiles */
.links a {margin-right: 1em;}
@media print {.links {display: none;}}

/* Restore normal font-style of some <em> which are just used as Markdown-friendly <span> */
.h-adr em, .h-geo em {
  font-style: normal;
}

/* Hide geographic coordinate, it is there only for microformat h-card */
.h-geo {
  display: none;
}

/* Highligh abbreviation */
abbr {cursor: help;}

/* Highlight tags */
em.tech-tag {
  font-style: normal;
  color: #888;
  background-color: #f2f2ff;
  border-radius: .4em;
  padding: .2em;
}

/* Printing recommendations */
@media print {
  #content p, #content ul, #content dl {page-break-before: avoid;}
  li, dl, h2, h3, h4 {page-break-inside: avoid;}
}

/* Icons from Ionicons set
 * Copyright (c) 2015-present Ionic (http://ionic.io/)
 * licensed under the MIT License
 */

.icon-home:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 512 512'%3E%3Ctitle%3Ehome%3C/title%3E%3Cpath d='M261.56,101.28a8,8,0,0,0-11.06,0L66.4,277.15a8,8,0,0,0-2.47,5.79L63.9,448a32,32,0,0,0,32,32H192a16,16,0,0,0,16-16V328a8,8,0,0,1,8-8h80a8,8,0,0,1,8,8l0,136a16,16,0,0,0,16,16h96.06a32,32,0,0,0,32-32l0-165.06a8,8,0,0,0-2.47-5.79Z' fill='%23f80'/%3E%3Cpath d='M490.91,244.15l-74.8-71.56,0-108.59a16,16,0,0,0-16-16h-48a16,16,0,0,0-16,16l0,32L278.19,40.62C272.77,35.14,264.71,32,256,32h0c-8.68,0-16.72,3.14-22.14,8.63L21.16,244.13c-6.22,6-7,15.87-1.34,22.37A16,16,0,0,0,43,267.56L250.5,69.28a8,8,0,0,1,11.06,0L469.08,267.56a16,16,0,0,0,22.59-.44C497.81,260.76,497.3,250.26,490.91,244.15Z' fill='%23f80'/%3E%3C/svg%3E");
  position: relative;
  top: .2em;
  margin-right: .5em;
}
.icon-phone:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 512 512'%3E%3Ctitle%3Ecall%3C/title%3E%3Cpath d='M391,480c-19.52,0-46.94-7.06-88-30-49.93-28-88.55-53.85-138.21-103.38C116.91,298.77,93.61,267.79,61,208.45c-36.84-67-30.56-102.12-23.54-117.13C45.82,73.38,58.16,62.65,74.11,52A176.3,176.3,0,0,1,102.75,36.8c1-.43,1.93-.84,2.76-1.21,4.95-2.23,12.45-5.6,21.95-2,6.34,2.38,12,7.25,20.86,16,18.17,17.92,43,57.83,52.16,77.43,6.15,13.21,10.22,21.93,10.23,31.71,0,11.45-5.76,20.28-12.75,29.81-1.31,1.79-2.61,3.5-3.87,5.16-7.61,10-9.28,12.89-8.18,18.05,2.23,10.37,18.86,41.24,46.19,68.51s57.31,42.85,67.72,45.07c5.38,1.15,8.33-.59,18.65-8.47,1.48-1.13,3-2.3,4.59-3.47,10.66-7.93,19.08-13.54,30.26-13.54h.06c9.73,0,18.06,4.22,31.86,11.18,18,9.08,59.11,33.59,77.14,51.78,8.77,8.84,13.66,14.48,16.05,20.81,3.6,9.53.21,17-2,22-.37.83-.78,1.74-1.21,2.75a176.49,176.49,0,0,1-15.29,28.58c-10.63,15.9-21.4,28.21-39.38,36.58A67.42,67.42,0,0,1,391,480Z' fill='%23f80'/%3E%3C/svg%3E");
  position: relative;
  top: .2em;
  margin-right: .5em;
}
.icon-email:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 512 512'%3E%3Ctitle%3Eat-circle%3C/title%3E%3Cpath d='M255.46,48.74c-114.84,0-208,93.11-208,208s93.12,208,208,208,208-93.12,208-208S370.31,48.74,255.46,48.74ZM380.28,252c-2.85,32.63-16.79,49.7-28,58.26S327.61,322.58,316,320.5a41.61,41.61,0,0,1-26.82-17.19,62.06,62.06,0,0,1-44,17.57,51.66,51.66,0,0,1-38.55-16.83c-11.38-12.42-17-30.36-15.32-49.23,3-35,30.91-57.39,56.87-61.48,27.2-4.29,52.23,6.54,62.9,19.46l3.85,4.66-6.34,50.38c-1.19,14.34,3.28,23.48,12.29,25.1,2.39.42,8.1-.13,14.37-4.93,6.72-5.15,15.14-16,17.1-38.47C354.7,223,348,200.35,333.1,184.05c-15.49-16.9-39.09-25.84-68.23-25.84-54,0-101.81,44.43-106.58,99-2.28,26.2,5.67,50.68,22.4,68.93C197.05,344,220,353.88,245.35,353.88c19,0,30.61-2.05,49.48-8.78a14,14,0,0,1,9.4,26.38c-21.82,7.77-36.68,10.4-58.88,10.4-33.28,0-63.57-13.06-85.3-36.77C138,321,127.42,288.94,130.4,254.82c2.91-33.33,18.45-64.63,43.77-88.12s57.57-36.49,90.7-36.49c37.2,0,67.93,12.08,88.87,34.93C373.83,187.05,383.25,217.89,380.28,252Z' fill='%23f80'/%3E%3Cpath d='M252.57,221c-14.83,2.33-31.56,15.84-33.34,36.26-1,11.06,2,21.22,8.07,27.87a23.65,23.65,0,0,0,17.91,7.75c20.31,0,34.73-14.94,36.75-38.06a14,14,0,0,1,.34-2.07l3.2-25.45a49.61,49.61,0,0,0-32.93-6.3Z' fill='%23f80'/%3E%3C/svg%3E");
  position: relative;
  top: .2em;
  margin-right: .5em;
}
.icon-mail:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 512 512'%3E%3Ctitle%3Email%3C/title%3E%3Cpath d='M424,80H88a56.06,56.06,0,0,0-56,56V376a56.06,56.06,0,0,0,56,56H424a56.06,56.06,0,0,0,56-56V136A56.06,56.06,0,0,0,424,80Zm-14.18,92.63-144,112a16,16,0,0,1-19.64,0l-144-112a16,16,0,1,1,19.64-25.26L256,251.73,390.18,147.37a16,16,0,0,1,19.64,25.26Z' fill='%23f80'/%3E%3C/svg%3E");
  position: relative;
  top: .2em;
  margin-right: .5em;
}
.icon-github:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 512 512'%3E%3Ctitle%3Elogo-github%3C/title%3E%3Cpath d='M256,32C132.3,32,32,134.9,32,261.7c0,101.5,64.2,187.5,153.2,217.9a17.56,17.56,0,0,0,3.8.4c8.3,0,11.5-6.1,11.5-11.4,0-5.5-.2-19.9-.3-39.1a102.4,102.4,0,0,1-22.6,2.7c-43.1,0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1,1.4-14.1h.1c22.5,2,34.3,23.8,34.3,23.8,11.2,19.6,26.2,25.1,39.6,25.1a63,63,0,0,0,25.6-6c2-14.8,7.8-24.9,14.2-30.7-49.7-5.8-102-25.5-102-113.5,0-25.1,8.7-45.6,23-61.6-2.3-5.8-10-29.2,2.2-60.8a18.64,18.64,0,0,1,5-.5c8.1,0,26.4,3.1,56.6,24.1a208.21,208.21,0,0,1,112.2,0c30.2-21,48.5-24.1,56.6-24.1a18.64,18.64,0,0,1,5,.5c12.2,31.6,4.5,55,2.2,60.8,14.3,16.1,23,36.6,23,61.6,0,88.2-52.4,107.6-102.3,113.3,8,7.1,15.2,21.1,15.2,42.5,0,30.7-.3,55.5-.3,63,0,5.4,3.1,11.5,11.4,11.5a19.35,19.35,0,0,0,4-.4C415.9,449.2,480,363.1,480,261.7,480,134.9,379.7,32,256,32Z' fill='%23f80'/%3E%3C/svg%3E");
  position: relative;
  top: .2em;
  margin-right: .5em;
}
.icon-linkedin:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 512 512'%3E%3Ctitle%3Elogo-linkedin%3C/title%3E%3Cpath d='M444.17,32H70.28C49.85,32,32,46.7,32,66.89V441.61C32,461.91,49.85,480,70.28,480H444.06C464.6,480,480,461.79,480,441.61V66.89C480.12,46.7,464.6,32,444.17,32ZM170.87,405.43H106.69V205.88h64.18ZM141,175.54h-.46c-20.54,0-33.84-15.29-33.84-34.43,0-19.49,13.65-34.42,34.65-34.42s33.85,14.82,34.31,34.42C175.65,160.25,162.35,175.54,141,175.54ZM405.43,405.43H341.25V296.32c0-26.14-9.34-44-32.56-44-17.74,0-28.24,12-32.91,23.69-1.75,4.2-2.22,9.92-2.22,15.76V405.43H209.38V205.88h64.18v27.77c9.34-13.3,23.93-32.44,57.88-32.44,42.13,0,74,27.77,74,87.64Z' fill='%23f80'/%3E%3C/svg%3E");
  position: relative;
  top: .2em;
  margin-right: .5em;
}
