/* Print stylesheet overloads screen stylesheet */
@import url('responsive-screen.css');



body {
  font-size: 12pt;
  line-height: 1.35em;
  margin-top: 0;
  margin-left: 0;
}

#content > p, #content > dl, dd {
  margin-bottom: 0.2em;
}

@media (min-width: 850px) {
  #content > p, #content > ul, h1, #webaddress {
    width: 60%;
  }
}

code {
  color: #ccc;
}

ul {
  margin-bottom: 1em;
  margin-top: 0;
}

h2 {
  color: #a00;
  margin-top: 2em;
  top: 1.2em;
}

h3 {
  color: #ccc;
}

a {
  text-decoration: none;
}

#webaddress {
  color: #ccc;
  font-size: 90%;
}

em {
  font-style: normal;
  color: #2d4e5e
}
